<template name="deleteCardsForm">
    <div class="modal fade" id="deleteCardsModal" tabindex="-1" role="dialog"
         aria-labelledby="deleteCardsTitle">
        <div class="modal-dialog">
            <div class="modal-content modal-content-for-buttons">
                <div class="modal-header">
                     <span class="modal-icon">
                        <i class="fa fa-trash"></i>
                    </span>
                    {{> mainModalItemCloseIcon}}
                    <h4 id="deleteCardsTitle" class="modal-title">{{_ "deleteCards"}}
                    </h4>
                </div>
                <div class="modal-body">
                    {{_ "modal-dialog.deleteCards" name= this.name}}
                </div>
                <div class="modal-footer">
                    <button id="deleteCardsConfirm" class="btn btn-raised btn-warning pull-right">{{_
                            "deleteCards"}}</button>
                    <button id="deleteCardsCancel" class="btn btn-raised btn-default pull-left"
                            data-dismiss="modal">{{_
                            "modal-dialog.cancel"}}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>
