<template name="presentation">
    {{#if hasPermission}}
        {{> presentationView}}
    {{else}}
        {{> accessDenied}}
    {{/if}}
</template>

<template name="makingOfCards">
    {{#if gotMakingOfCardsetData}}
        {{> presentationView}}
    {{/if}}
</template>

<template name="presentationView">
    {{#unless isTranscriptRoute}}
        {{> pomodoroTimerModal}}
    {{/unless}}
    {{#if isActiveRoute regex='demolist|presentationlist|makinglist'}}
        <button class="btn btn-raised btn-danger"
                id="{{#if fullscreenActive}}backToPresentationFullscreen{{else}}backToPresentation{{/if}}">
        <span class="pull-left"><i class="fa fa-arrow-left"></i> {{#if isActiveRoute regex='demolist'}}{{_
                "presentation.list.backDemo"}}{{else}}{{_ "presentation.list.back"}}{{/if}}</span>
        </button>
        {{> cardsetList}}
    {{else}}
        {{#unless isMobilePreview}}
            <div class="hidden-xs {{#if isActiveRoute regex='demo'}}row demo-padding{{else}}col-xs-12{{/if}}">
                {{> cardNavigation}}
            </div>
        {{/unless}}
        <div class="{{#if isActiveRoute regex='demo'}}row demo-padding{{else}}col-xs-12{{/if}}">
            {{> flashcards}}
        </div>
        <div class="{{#unless isMobilePreview}}visible-xs{{/unless}} cardNavigationContainer {{#if isActiveRoute
                                                                                                   regex='demo'}}row demo-padding{{else}}col-xs-12{{/if}}">
            {{> cardNavigation}}
        </div>
    {{/if}}
</template>
