<template name="mainModalArsnovaClick">
    {{#unless isIOSSafari}}
        <div class="modal" id="arsnovaClickModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
            </div>
        </div>
    {{/unless}}
</template>
